h1 {
  font-size: 50px;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

video {
  object-fit: contain;
}

body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

p {
  color: Gray;
  font-size: 21px;
}

.footer {
  text-align: right;
}
